$color-white: #f2f2f2;
$color-black: #4d4d4d;
$color-visual-thicker: #558c03;
$color-visual-thick: #97bf04;
$color-visual-thin: #e1f25e;
$color-visual-thinner: #e7f291;
$size-x-large: 24px;
$size-large: 18px;
$size-medium: 16px;
$size-small: 14px;
$size-minimum: 12px;
$spacing-unit: 8px;
