<header class="header">
  <a href="/csscopyand/" class="header__titleLink">
    <% if (isIndex) { %>
    <h1 class="header__titleLink__text">
      <span class="header__titleLink__text__prefixIcon fab fa-css3-alt"></span
      >CSSコピペ館
    </h1>
    <% } else { %>
    <p class="header__titleLink__text">
      <span class="header__titleLink__text__prefixIcon fab fa-css3-alt"></span
      >CSSコピペ館
    </p>
    <% } %>
  </a>
</header>
