<!-- prettier-ignore -->
<% const localTitle = 'ホバーで画像拡大'; %>

<!-- prettier-ignore -->
<% const demoStyle = `
<style data-js-selector="sourceLazy" data-js-attributes="csscopyand">
  .cca-hoverImage {
    width: 300px;
    overflow: hidden;
  }
  .cca-hoverImage > img {
    width: 100%;
    height: auto;
    transition: transform 300ms ease-out;
  }
  .cca-hoverImage > img:hover {
    transform: scale(1.2);
  }
</style>
`; %>

<!-- prettier-ignore -->
<% const demo = `
<div class="demo" data-js-selector="source" data-js-attributes="demoHtml">
  <div class="cca-hoverImage">
    <img src="/csscopyand/images/demo.jpg" alt="デモ画像" />
  </div>
</div>
`; %>

<!-- prettier-ignore -->
<% const combineWithJs = null; %>

<!-- prettier-ignore -->
<% const howToUse = `
<div class="howToUse">
  <p class="howToUse__description">
    <code class="inlineCode">div</code>要素を１つ用意し、<code
      class="inlineCode"
      >class="cca-hoverImage"</code
    >を付与してください。<br />
    直下に任意の画像を配置してください。<br />
  </p>
  <div>
    <p class="button" data-js-selector="accordion" data-js-attributes="remove">
      サンプルHTMLを表示する
    </p>
    <pre><code class="language-html" data-js-selector="demoHtml"></code></pre>
  </div>
</div>
`; %>

<!-- prettier-ignore -->
<% const cssDescription = `
<div class="cssDescription">
  <p
    class="button"
    data-js-selector="accordion"
    data-js-attributes="remove"
    onclick="gtag('event', 'cv', { event_category: 'openedCssCodes' })"
  >
    CSSコードの解説を見てみる
  </p>
  <div class="cssDescription__body">
    <p class="cssDescription__body__text">
      画像拡大時に画像が枠外に出ないよう、親要素に<code class="inlineCode"
        >overflow: hidden;</code
      >を当てておきます。<br />
    </p>
    <pre
      class="cssDescription__body__code"
    ><code class="language-css" data-js-selector="quote" data-js-attributes="csscopyand, 1, 4"></code></pre>
    <p class="cssDescription__body__text">
      拡大時にアニメーションさせるため、<code class="inlineCode"
        >transition</code
      >プロパティを設定します。<br />
      ３つの値を指定しており、左からアニメーション対象プロパティ<code
        class="inlineCode"
        >transform</code
      >、アニメーション時間<code class="inlineCode">300ms</code>、緩急<code
        class="inlineCode"
        >ease-out</code
      >です。<br />
    </p>
    <pre
      class="cssDescription__body__code"
    ><code class="language-css" data-js-selector="quote" data-js-attributes="csscopyand, 5, 9"></code></pre>
    <p class="cssDescription__body__text">
      拡大には<code class="inlineCode">transform</code>の<code
        class="inlineCode"
        >scale</code
      >を使います。<br />
      本デモでは1.2倍にまで拡大させています。<br />
    </p>
    <pre
      class="cssDescription__body__code"
    ><code class="language-css" data-js-selector="quote" data-js-attributes="csscopyand, 10, 12"></code></pre>
  </div>
</div>
`; %>

<!-- prettier-ignore -->
<%- include('../_ejsModules/itemLayout', { localTitle, demoStyle, demo, howToUse, combineWithJs, cssDescription }) %>
